@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

.app {
  min-height: 100vh;
  background-color: antiquewhite;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.app .header {
  font-family: 'Inspiration', cursive;
  font-size: 3rem;
  color: floralwhite;
  margin: auto;
}

.app .info {
  display: flex;
  justify-content: space-around;
  margin: auto;
  font-family: monospace;
  color: cadetblue;
}

.app .info .not-safe {
  color: coral;
}

.app .joke {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.3rem;
  padding: 1em;
  color: indigo;
  margin: auto;
  line-height: 1.6em;
  word-spacing: 0.3em;
  letter-spacing: 0.1em;
}

.app .smiley {
  margin: auto;
  padding: 0.6em;
  border-radius: 50%;
  box-shadow: 0.1em 0.1em 0.1em;
  background-color: yellow;
}

.app .next {
  font-family: monospace;
  width: 6em;
  margin: auto;
  padding: 0.6em;
  border-radius: 1em;
  background-color: bisque;
  color: orange;
  font-size: 1em;
  box-shadow: 0.1em 0.1em 0.1em;
}
